{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "__DEV__": true,
    "__TEST__": true,
    "db": true,
    "describe": true,
    "it": true,
    "should": true,
    "connStr": true,
    "env": true
  },
  "env": {
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true,
    "ecmascript": 6
  },
  "rules": {
    "arrow-parens": [0, "as-needed"],
    "comma-dangle": ["error", {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline",
        "functions": "never"
    }],
    "no-confusing-arrow": 0,
    "no-plusplus": 0,
    "camelcase": [0, { "properties": "always" }],
    "semi": [2, "never"],
    "global-require": 0,
    "no-param-reassign": ["error", { "props": false }],
    "object-property-newline": 0,
    "object-curly-newline": 0,
    "function-paren-newline": 0,
    "prefer-destructuring": 0,
    "no-mixed-operators": [
        "error",
        {
            "groups": [
                ["*", "/", "%", "**"],
                ["&", "|", "^", "~", "<<", ">>", ">>>"],
                ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
                ["&&", "||"],
                ["in", "instanceof"]
            ],
            "allowSamePrecedence": true
        }
    ],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js"]}],
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^ignore"
      }
    ],
    "no-bitwise": ["error", { "int32Hint": true }],
    "no-prototype-builtins": 0,
    "no-restricted-syntax": 0,
    "no-nested-ternary": 0
  }
}
